services:
    traefik:
        command:
            - "--providers.docker=true"
            - "--entrypoints.web.address=:80"
        ports:
            - "80:80"
    api:
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`${TRAEFIK_DOMAIN}`)"
            - "traefik.http.services.api.loadbalancer.server.port=5000"
            - "traefik.http.routers.api.entrypoints=web"
