services:
    traefik:
        command:
            - "--providers.docker=true"
            - "--entrypoints.web.address=:80"
            - "--entrypoints.websecure.address=:443"
            # Redirect HTTP to HTTPS
            - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
            - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
            - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
            # Use Let's Encrypt for TLS certificates
            - "--certificatesresolvers.le.acme.email=${TRAEFIK_SSLEMAIL}"
            - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
            - "--certificatesresolvers.le.acme.tlschallenge=true"
        ports:
            - "80:80"
            - "443:443"
    api:
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`${TRAEFIK_DOMAIN}`)"
            - "traefik.http.services.api.loadbalancer.server.port=5000"
            - "traefik.http.routers.api.entrypoints=websecure"
            - "traefik.http.routers.api.tls=true"
            - "traefik.http.routers.api.tls.certresolver=le"
