services:
    traefik:
        image: traefik:v3.4
        command:
            - "--providers.docker=true"
            - "--entrypoints.web.address=:80"
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
    api:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./api/data:/code/api/data
        command: ["fastapi", "run", "api/API.py", "--port", "5000"]
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`${TRAEFIK_DOMAIN}`)"
            - "traefik.http.services.api.loadbalancer.server.port=5000"
            - "traefik.http.routers.api.entrypoints=web"
