services:
    traefik:
        image: traefik:v3.4
        command:
            - "--providers.docker=true"
            - "--entrypoints.web.address=:80"
            - "--entrypoints.websecure.address=:443"
            # Redirect HTTP to HTTPS
            - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
            - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
            - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
    api:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./api/data:/code/api/data
        command: ["fastapi", "run", "api/API.py", "--port", "5000"]
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`${TRAEFIK_DOMAIN}`)"
            - "traefik.http.services.api.loadbalancer.server.port=5000"
            - "traefik.http.routers.api.entrypoints=websecure"
            - "traefik.http.routers.api.tls=true"
