/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.highlight {
    background-color: #813c99; /* Highlight color */
    font-weight: bold; /* Optional: Make it bold */
}
