/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
    $input-control-height: 20px
);

.highlight {
    background-color: #813c99; /* Highlight color */
    font-weight: bold; /* Optional: Make it bold */
}

.v-checkbox-btn,
.v-checkbox-btn .v-label {
    font-size: 10px;
    height: 2em;
}
