/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
    $input-control-height: 20px
);

.highlight {
    background-color: #803b97; /* Highlight color */
    font-weight: bold; /* Optional: Make it bold */
}

.link {
    color: #51265f; /* Link color */
    text-decoration: underline; /* Optional: Underline the link */
}

.v-checkbox-btn,
.v-checkbox-btn .v-label {
    font-size: 12px;
    height: 2em;
}
